.jumbotron {
  margin-top: 50px;
  background-image: url(img/bg.jpg);
  background-size: cover;
}

#about {
  background-color: #c6d6dc;
}

#contact {
  background-color: #c6d6dc;
}

#blog {
  background-color: #fed4c6;
  margin-top: 50px;
}

#team {
  margin-top: 50px;
}

section {
  padding: 5rem;
}
