.jumbotron {
  padding-top: 120px;
  background-image: url(img/bg.jpg);
  background-size: cover;
}

#about {
  background-color: #c6d6dc;
}

#portfolio {
  background-image: url(img/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#team {
  background-image: url(img/bg2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#contact {
  background-color: #c6d6dc;
  min-height: 850px;
}

.contact {
  padding-top: 50px;
}

#blog {
  background-color: #fed4c6;
}

section {
  padding: 5rem;
}

.card {
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.1);
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .jumbotron {
    background-image: url(img/bg-responsive.jpg);
    background-size: cover;
    background-position: center;
  }
}
